.calc-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: var(--secondary-color);
}

#plan-heading {
  text-align: center;
  font-size: 4rem;
  padding: 10rem 0rem 5rem;
  color: var(--secondary-color);
}



.first-box {
  width: 450px;
  height: 470px;
  border-radius: 20px;
  border: 2px solid #ebe2fd;
  margin: 1rem;
  color: #000 !important;
  background: rgb(246,133,245);
background: radial-gradient(circle, #E9D5DA 0%, #A85CF9 100%);
}


.first-box h2 {
  margin: 4rem 3rem 2rem;
  font-size: 3.5rem;
}

.first-box p {
  margin: 2rem 0rem 0rem;
  font-size: 1.9rem;
}

#extra-space{
  margin: 2rem 3rem 0rem;
}

.first-box button {
  position: relative;
  left: 6rem;
  top: 18rem;
  padding: 15px 100px;
  font-size: 2.2rem;
  border: none;
  color: #fff;
  background: #A85CF9;
  border-radius: 20px;
}

.first-box .calc-tabbed {
  margin: 1rem 3rem;
}

.second-box {
  width: 450px;
  height: 460px;
  border-radius: 20px;
  border: 2px solid #A85CF9;
  margin: 3rem;
  background: radial-gradient(circle, #E9D5DA 0%, #A85CF9 100%);
}

.second-box h2 {
  margin: 4rem 3rem 2rem;
  font-size: 3.5rem;
}

.second-box .price {
  display: flex;
  margin: 2rem 3rem;
}

.price h1 {
  font-size: 5rem;
}

.price span {
  font-size: 2rem;
  margin: 3rem 0rem 0rem 2rem;
}

.second-box li {
  margin: 1rem 3rem;
  font-size: 1.8rem;
}

.second-box p {
  margin: 2rem 3rem 0rem;
  font-size: 2rem;
}

#plan-btn {
  display: flex;
  margin: 7rem auto 0rem;
  padding: 15px 100px;
  font-size: 2.2rem;
  border: none;
  color: #fff;
  background: #A85CF9;
  border-radius: 20px;
}

/* Functioning of the Plans -> (Status - Not Working) */

@import "compass/css3";

.calc-tabbed > input {
  display: none;
}

.calc-tabbed > label {
  background: #d3d2d2;
  display: block;
  float: left;
  padding: 12px 20px;
  font-size: 1.5rem;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  
  background: rgba(218, 209, 255, 0.576);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: none;
}

.calc-tabbed > label:hover,
.calc-tabbed > input:checked + label {
  background: #5e17eb;
  color: #fff;
}
.calc-tabs {
  clear: both;
  perspective: 600px;
}
.calc-tabs > .text-box {
  width: 350px;
  position: absolute;
  border: 2px solid #9900F0;
  box-shadow: 10px 10px 1px #0f0f0f;
  padding: 10px 30px 40px;
  line-height: 1.4em;
  opacity: 0;
  transform: rotateX(-20deg);
  transform-origin: top center;
  transition: opacity 0.3s, transform 1s;
  z-index: 0;
}
#tab-nav-1:checked ~ .calc-tabs > .text-box:nth-of-type(1),
#tab-nav-2:checked ~ .calc-tabs > .text-box:nth-of-type(2),
#tab-nav-3:checked ~ .calc-tabs > .text-box:nth-of-type(3),
#tab-nav-4:checked ~ .calc-tabs > .text-box:nth-of-type(4),
#tab-nav-5:checked ~ .calc-tabs > .text-box:nth-of-type(5),
#tab-nav-6:checked ~ .calc-tabs > .text-box:nth-of-type(6) {
  transform: rotateX(0);
  opacity: 1;
  z-index: 1;
  background: #9900F0;
  border-radius: 20px;
}

/* My Css */

.text-box {
  display: flex;
  justify-content: space-between;
}

.text-1 {
  margin: -2rem 5rem -1rem -2rem;
}

.text-2 {
  margin: -2rem -3rem 1rem 0rem;
}

/* Button Animation */

.shadow-pop-tr:hover {
	-webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
            box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}
@keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
            box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}


@media screen and (max-width: 900px) {
  .calc-container{
    display: flex;
    flex-direction: column;
  }

  #plan-heading {
    font-size: 3rem;
    margin-top: -10rem;
    padding-bottom: 3rem;
}
}

@media screen and (max-width: 440px) {
  .first-box{
    width: 350px;
    height: 520px;
  }
  .first-box h2 {
    margin: 2rem 3rem 1rem;
    font-size: 3rem;
}
.first-box p {
  margin: 2rem 3rem 0rem;
  font-size: 1.7rem;
}
.first-box .calc-tabbed {
  margin: 1rem 2.5rem;
}

.calc-tabbed > label {
  padding: 5px 13px;
  display: none;
}

.calc-tabs > .text-box {
  width: 280px;
}

.text-1 {
  margin: -2rem 0rem 0rem -2rem;
}

.text-2 {
  margin: -1.9rem 0rem 0rem 3rem;
}

.first-box button {
  left: 5rem;
  top: 18rem;
  padding: 10px 60px;
  font-size: 2rem;
}

}

@media screen and (max-width: 390px) {
  .first-box{
    width: 320px;
    height: 520px;
  }
  .first-box .calc-tabbed {
    margin: 1rem 1.5rem;
}
.first-box button {
  left: 5rem;
  top: 15rem;
}
}


@media screen and (max-width: 440px) {
  .second-box{
    width: 330px;
    height: 330px;
  }
  .second-box h2 {
    margin: 2rem 3rem 1rem;
    font-size: 3rem;
}

.second-box p {
  margin: 1rem 3rem 0rem;
  font-size: 1.6rem;
}

.price h1 {
  font-size: 4rem;
}

.second-box li {
  margin: 1rem 3rem;
  font-size: 1.5rem;
}

.second-box button {
  left: 5rem;
  top: 7rem;
  padding: 10px 60px;
}

  #plan-btn {
    margin: 3rem auto 7rem;
    padding: 10px 55px;
    font-size: 2rem;
}

}

@media screen and (max-width: 370px) {
  .second-box{
    width: 300px;
    height: 430px;
  }
  .second-box button {
    left: 3.5rem;
    top: 7rem;
    padding: 10px 60px;
  }
  .price span {
    font-size: 1.5rem;
    margin: 3rem 0rem 0rem 1rem;
}

}
